@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  section {
    /* make sure to include this for wavy borders */
    position: relative;
  }

  /* Hero section wavy border */
  .project-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .project-curve svg {
      position: relative;
      display: block;
      width: calc(122% + 1.3px);
      height: 56px;
  }

  .project-curve .shape-fill {
      fill: #0B6085;
  }


  /* Project Highlight section wavy border */
  .artwork-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .artwork-curve svg {
      position: relative;
      display: block;
      width: calc(122% + 1.3px);
      height: 56px;
  }

  .artwork-curve .shape-fill {
      fill: #29B2DD;
  }

  /* Project Highlight section wavy border */
    .contact-curve {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }
  
    .contact-curve svg {
        position: relative;
        display: block;
        width: calc(122% + 1.3px);
        height: 56px;
    }
  
    .contact-curve .shape-fill {
        fill: #DD8029;
    }
}